<div class="wrapper">
    <div class="container">
        <div class="main">
            <form class="form"  method="post" action="#">
                <h2>Login</h2><hr/>
                <label>Email :</label>
                <input type="text" name="demail" id="email">
                <label>Password :</label>
                <input type="password" name="password" id="password">
                <a href="#signup" class="button">Register</a>
            </form>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="small-2 columns">
            <button id="button2">
                ?
            </button>
        </div>
        <div class="small-8 columns"></div>
        <div class="small-2 columns">
            <button id="button2">
                ?
            </button>
        </div>
    </div>
</div>
        