<div class="wrapper"  ng-controller="profileController as profile">
    <header>
	<div class="panel">
            <div class="row">
		<div class="small-3 columns">
                    <a href="#selectGame" class="button radius tiny expand">zurück</a>
		</div>
		<div class="small-6 columns">
                    <h3>Benutzername</h3>
		</div>
		<div class="small-3 columns">
                    <a href="#profile" class="button radius tiny expand">Profil löschen</a>
		</div>
            </div>
            </br>
            <!--Benutzerinformationen-->
            <div class="row">
                <div class="small-5 columns">
                    <img src="img/unicorn01.png" width="150" height="150" style="margin:0px auto;display:block">
                </div>
                <div class="small-7 columns">
                    Benutzername: <br>
                    Geschlecht: <br>
                    Alter: <br>
                    Nationalität <br>
                </div>
            </div>
            <br>
            <div class="small-4 columns">
                <input type="submit" class="button radius tiny expand" value="Profil bearbeiten" />
            </div>
	</div>
    </header>
    <br><br>
	<!-- main -->
    <div class="main">
	<div class="panel">
            <dl class="sub-nav">
		<dd ng-class="{ active: profile.isSelected(1)}">
                    <a href="#profile" class="button radius" ng-click="profile.selectTab(1)">Gespielt</a>
		</dd>
		<dd ng-class="{ active: profile.isSelected(2)}">
                    <a href="#profile" class="button radius" ng-click="profile.selectTab(2)">Erstellt</a>
		</dd>
            </dl>
            <!--Spieleeinsicht-->
            <div class="panel" ng-show="profile.isSelected(1)">
            	<table id="t01" width=100%>
                    <tr>
                        <th>Gespielte Spiele</th>   
                    </tr>
                    <tr>
                        <td>Game01</td>
                    </tr>
                    <tr>
                        <td>Game02</td>
                    </tr>
                    <tr>
                        <td>Game03</td>
                    </tr>
                    <tr>
                        <td>Game04</td>
                    </tr>
                </table>
            </div>
            <div class="panel" ng-show="profile.isSelected(2)">
		<table id="t01" width=100%>
                    <tr>
                        <th>Erstellte Spiele</th>   
                    </tr>
                    <tr>
                        <td>Game02</td>
                    </tr>
                    <tr>
                        <td>Game04</td>
                </table>
            </div>
	</div>
    </div>
</div>