<html>
  <head>
    <title>Select Game</title>
    <link rel="stylesheet" href="css/mgl.css" />
    <link rel="stylesheet" href="css/mgl-icons.css" />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="js/vendor/modernizr.js"></script>
    <script src="js/angular.min.js"></script>
  </head>
  <body>
    <div class="row">
      <div class="small-2 columns">
        <form method="get" action="file:///C:/Users/Maximilian/Studium/SS15/MG/Project/gameplay.html">
          <button id="button2">
            ?
          </button>
        </form>
      </div>
      <div class="small-8 columns" align="center"></div>
      <div class="small-2 columns">
        <i class="fi-torsos-all size-48"></i>
      </div>
    </div>
    <input type="text" placeholder="search for a game" />
    <div class="row">
      <div class="small-6 columns" align="center">
        <i class="fi-photo size-72"></i>
      </div>
      <div class="small-6 columns">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="small-6 columns" align="center">
        <i class="fi-photo size-72"></i>
      </div>
      <div class="small-6 columns">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="small-6 columns" align="center">
        <i class="fi-photo size-72"></i>
      </div>
      <div class="small-6 columns">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="small-6 columns" align="center">
        <i class="fi-photo size-72"></i>
      </div>
      <div class="small-6 columns">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="small-6 columns" align="center">
        <i class="fi-photo size-72"></i>
      </div>
      <div class="small-6 columns">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="small-6 columns" align="center">
        <i class="fi-photo size-72"></i>
      </div>
      <div class="small-6 columns">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
      </div>
    </div>
  </body>
</html>