<div class="container">
        <div class="main">
        <form class="form"  method="post" action="#">
                        <h2>Sign Up</h2><hr/>
                        <label>Username :</label>
                        <input type="text" name="username" id="username">
                        <label>Email :</label>
                        <input type="text" name="demail" id="email">
                        <label>Age :</label>
                        <input type="text" name="demail">
                        <label>Gender :</label>
                        <select name="gender">
                                <option></option>
                                <option>male</option>
                                <option>female</option>
                        </select>
                        <label>Password :</label>
                        <input type="password" name="password" id="password">
                        <label>Repeat Password :</label>
                        <input type="password" name="password" id="password">
                        <a href="#register" class="button">Register</a>
                </form>	
        </div>
</div>