/Project/HTML5Application/nbproject/private/
/Project/nbproject/private/
/Project/nbproject/
/nbproject/private/
/nbproject
/Project/platforms/android/.nb-gradle/
/Project/platforms/android/CordovaLib/build/
/Project/platforms/android/assets/www/nbproject/private/