<div class="wrapper">
    <div class="panel" ng-controller="selectGameController as gameselect">
        <div class="row">
            <div class="small-3 columns right">
                <a href="#profile" class="button radius tiny expand">Profil</a>
            </div>
        </div>
        <div class="panel" ng-init="gameselect.loadAllgame()">
            <dl class="sub-nav">
                <dd ng-class="{active: gameselect.isSelected(3)}">
                    <a id="b03" class="button radius" ng-click="gameselect.loadAllgame()">Alle Spiele</a>
                </dd>
                <dd ng-class="{active: gameselect.isSelected(1)}">
                    <a class="button radius" ng-click="gameselect.loadSgame()">Abonnierte Spiele</a>
                </dd>
                <dd ng-class="{active: gameselect.isSelected(2)}">
                    <a class="button radius" ng-click="gameselect.loadOgame()">eigene Spiele</a>
                </dd>
            </dl>
            <!-- table for all games-->
            <div id="tab03" class="panel" ng-show="gameselect.isSelected(3)">
            </div>
            <!-- table for subscribed games-->
            <div id="tab01" class="panel ng-hide" ng-show="gameselect.isSelected(1)">
            </div>
            <!-- table for owned games-->
            <div id="tab02" class="panel ng-hide" ng-show="gameselect.isSelected(2)">
            </div>
        </div>
    </div>
</div>
