<!-- show the panel for large up like desktops -->
<div ng-controller="loginController as ctrlogin">
    <!-- content panel for logging in, registration link und help link -->
    <div class="panel">
		<div class="row">
            <div class="large-12 large-centered columns">
				<p style="text-align: center;"><font size="20">Mobile Unicorn Gaming Lab!</font></p>
            </div>
		</div>
		<ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-3">
            <li>
				<!-- logo -->
                <img src="img/unicorn01.png" width="300" height="300" style="margin:0px auto;display:block">
            </li>
            <li>
				<form name="loginform" data-abide novalidate>
                    <!-- error login-->
                    <div data-alert class="alert-box alert" ng-show="error" >
						{{message}}
                    </div>
                    <!-- email to log in -->
                    <div class="email-field">
						<!-- email field. required. -->
                        <span style="color:red" ng-show="loginform.email.$invalid - email && loginform.email.$dirty">
							Bitte geben Sie eine gültige E-mail Adresse an!
						</span>
						<input type="email" id="email-1" placeholder="E-mail" name="email" required ng-model="email">
                    </div>
                    <!-- password for the correct email tipped in -->
                    <div class="password-field">
                        <!-- error handling and check for right password -->
                        <span style="color:red" ng-show="(signupform.password.$invalid && signupform.password.$dirty)">
							Bitte gebe dein Passwort an!
                        </span>
                        <input type="password" id="password-l" placeholder="Passwort" name="password" ng-model="password" required>
                    </div>
                    <div class="row">
                        <!-- button for logging in -->
                        <a class="button left columns" ng-click="login()" ng-disabled="loginform.$invalid">Anmelden</a>
                        <div style="text-align: center;">oder</div>
                        <!-- button for register -->
                        <a href="#signup" class="button right columns">Registrieren</a>
                    </div>
				</form>
            </li>
		</ul>
    </div>
</div>


<!-- view for alle mobile phones and tablets -->
