<div class="wrapper" ng-controller="profileController
			as ctrProfile">
    <nav class="top-bar" data-topbar role="navigation">
        <div class="small-3 columns left">
            <!--Logo-->
            <img src="img/unicorn01.png" width="60" height="60" style="margin:0px auto;display:block">
        </div>
        <div class="small-3 columns left">
            <!--Logout-Button-->
            <a ng-click="logout()" ng-show="userID"><img src="img/logout.svg" width="35" height="35" style="margin:3px auto;display:block"></a>
        </div>
        <div class="small-3 columns right">
            <!--Select-Game-Button-->
            <a href="#gameselection"><img src="img/gameselect_icon.svg" width="40" height="40" style="margin:3px auto;display:block"></a>
        </div>
    </nav>
    <div ng-init="ctrProfile.loaduser()">
        <div class="panel" >
            <div data-alert class="alert-box alert" ng-show="error" >
                {{message}}
            </div>
            <!--Benutzerinformationen-->
            <ul class="small-block-grid-2">
                <li>
                    <!--Profilbild-->
                    <img src="img/profilbild.svg" width="150" height="150" style="margin:0px auto;display:block">
                </li>
                <li >
                    <p></p>
                    <!--shows personal attributes-->
                    <h5>{{users.profile.name}}</h5>
                    {{users.profile.profession}} <br>
                    {{users.profile.country}} <br>
                    {{users.profile.city}}
					<div class="center">
						<a href="#changeProfile" class="button radius tiny left" ng-show="userID">Profil bearbeiten</a>
					</div>
                </li>
            </ul>
            <!-- main -->
            <div class="main" ng-init="ctrProfile.loadSgame()">
                <div class="panel">
                    <!--Tabs (abo, create)-->
                    <dl class="sub-nav">
                        <dd ng-class="{ active: ctrProfile.isSelected(1)}">
                            <a class="button radius" ng-click="ctrProfile.loadSgame()">abonniert</a>
                        </dd>
                        <dd ng-class="{ active: ctrProfile.isSelected(2)}">
                            <a class="button radius" ng-click="ctrProfile.loadOgame()">erstellt</a>
                        </dd>
                    </dl>
                    <!-- table for subscribed games-->
                    <div id="tab01" class="panel ng-hide" ng-show="ctrProfile.isSelected(1)">
                    </div>
                    <!-- table for owned games-->
                    <div id="tab02" class="panel ng-hide" ng-show="ctrProfile.isSelected(2)">
                    </div>
                </div>
            </div>
            <!--Link for a little help-->
            <a href="#impressum">Hilfe</a>
        </div>
    </div>
</div>