<div class="wrapper" ng-controller="selectGameController as gameselect">
    <nav class="top-bar" data-topbar role="navigation">
        <div class="small-3 columns left">
            <!--Logo-->
            <img src="img/unicorn01.png" width="60" height="60" style="margin:0px auto;display:block">
        </div>
        <div class="small-3 columns right">
            <!--Profile-Button-->
			<a ng-click="gameselect.profile()">
				<img src="img/profilbild.svg" width="40" height="40" style="margin:3px auto;display:block">
			</a>
		</div>
    </nav>
    <div class="panel">
		<br>
        <div class="panel" ng-init="gameselect.loadAllgame()">
            <!--Tabs (all games, abo games, created games)-->
            <dl class="sub-nav">
                <dd ng-class="{active: gameselect.isSelected(3)}">
                    <a id="b03" class="button radius" ng-click="gameselect.loadAllgame()">Alle</a>
                </dd>
                <dd ng-class="{active: gameselect.isSelected(1)}">
                    <a class="button radius" ng-click="gameselect.loadSgame()">Abo</a>
                </dd>
                <dd ng-class="{active: gameselect.isSelected(2)}">
                    <a class="button radius" ng-click="gameselect.loadOgame()">Meine</a>
                </dd>
            </dl>
            <!-- table for all games-->
            <div id="tab03" class="panel" ng-show="gameselect.isSelected(3)">
            </div>
            <!-- table for subscribed games-->
            <div id="tab01" class="panel ng-hide" ng-show="gameselect.isSelected(1)">
            </div>
            <!-- table for owned games-->
            <div id="tab02" class="panel ng-hide" ng-show="gameselect.isSelected(2)">
            </div>
        </div>
    </div>
    <!--Link for a little help-->
	<a id="footer" href="#impressum">Hilfe</a>
</div>
